#header h1 {
  margin-bottom: 20px;
  text-transform: uppercase;
}

#site-description {
  clear:left;
  float:left;
  font-size:15px;
  font-style:italic;
  letter-spacing:normal;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  text-transform:none;
  width:auto;
}

#login-and-search {
  display: none;
  text-align: right;
  margin-bottom: 10px;
}

#main {
  padding-top: 5px;
}
