.fresnel_container {
	display: table-cell;
	padding-left: 10px;
}

.fresnel_resource {
}

.fresnel_resource_uri {
	font-family: 'Hoefler Text', Hoeflertext, Georgia, 'Lucida Bright', Lucidabright, 'Bitstream Vera Serif', serif;
	font-weight: bold;
	font-size: 1.0em;
	border-top: 1px dotted black;
	border-bottom: 1px dotted black;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
}

.fresnel_property {
	display: table-row;
}
.fresnel_label {
	display: table-cell;
	width: 75px;
	text-align: right;
	padding-right: 10px;
	border-right: 1px solid black;
}
.fresnel_value {
	padding-right: 20px;
}

.fresnel_value img {
	max-width: 400px;
}

.fresnel_editor {
	position: absolute;
	z-index: 1;
	border: 1px dotted #642;
	background: #ca8;
}

.fresnel_edit_buttons {
	float: right;
}
.fresnel_edit_buttons span {
	padding-right: 5px;
	padding-left: 5px;
	color: #822;
	text-decoration: underline;
}

div.fresnel_lens_chooser {
	display: inline;
}
div.fresnel_lang_chooser {
	display: inline;
}

.fresnel_graph_chooser {
	border: 1px dotted black;
	padding-bottom: 0.8em;
}

.fresnel_graph_chooser h3 {
	margin-left: 0.2em;
}

.fresnel_object_language {
	padding-right: 5px;
}

.h1 {
	font-family: 'Hoefler Text', Hoeflertext, Georgia, 'Lucida Bright', Lucidabright, 'Bitstream Vera Serif', serif;
	font-weight: bold;
	font-size: 1.4em;
}
.h1_container {
	display: block;
	width: 100%;
	padding-bottom: 5px; 
	border-bottom: 1px solid black;
	margin-top: 10px;
	margin-bottom: 10px;
}

.h2 {
	font-family: 'Hoefler Text', Hoeflertext, Georgia, 'Lucida Bright', Lucidabright, 'Bitstream Vera Serif', serif;
	font-weight: bold;
	font-size: 1.2em;
}
.h2_container {
	display: block;
	width: 100%; 
	margin-top: 5px;
}

.highlight {
	border: 1px dotted #aa4;
	background: #ffa;
}
.nolabel {
	display: block;
	width: 100%;
}
