.fresnel_container {
	display: table-cell;
	padding-left: 10px;
}

.fresnel_property {
	display: table-row;
	width: 525px;
}
.fresnel_label {
	display: table-cell;
	width: 75px;
	text-align: right;
	padding-right: 10px;
	border-right: 1px solid black;
}

.fresnel_editor {
	position: absolute;
	z-index: 1;
	border: 1px dotted #642;
	background: #ca8;
}

.fresnel_edit_buttons {
	padding-left: 20px;
	display: inline;
}
.fresnel_edit_buttons span {
	padding-right: 5px;
	color: #822;
	text-decoration: underline;
}

.h1 {
	font-family: 'Hoefler Text', Hoeflertext, Georgia, 'Lucida Bright', Lucidabright, 'Bitstream Vera Serif', serif;
	font-weight: bold;
	font-size: 1.4em;
}
.h1_container {
	display: block;
	width: 100%;
	padding-bottom: 5px; 
	border-bottom: 1px solid black;
	margin-top: 10px;
	margin-bottom: 10px;
}

.h2 {
	font-family: 'Hoefler Text', Hoeflertext, Georgia, 'Lucida Bright', Lucidabright, 'Bitstream Vera Serif', serif;
	font-weight: bold;
	font-size: 1.2em;
}
.h2_container {
	display: block;
	width: 100%; 
	margin-top: 5px;
}

.highlight {
	border: 1px dotted #aa4;
	background: #ffa;
}
.nolabel {
	display: block;
	width: 100%;
}
