setuptools
mercurial
Pylons==1.0
Genshi>=0.5
# run off HEAD
-e hg+http://bitbucket.org//okfn/datautil#egg=datautil
pymarc
-e hg+http://knowledgeforge.net/pdw/ordf#egg=ordf
## install openbiblio
## Assume for the present we install from local checkout
# -e https://knowledgeforge.net/pdw/openbiblio
-e .

