setuptools
# routes 1.12 is weird ...
Routes<=1.11.99
Pylons==0.9.7
Genshi>=0.5
swiss
pymarc
## rdflib 2.5 before it got broken
# rdflib>=2.4,<2.4.99
-e svn+http://rdflib.googlecode.com/svn/trunk@1744#egg=rdflib
-e git+http://github.com/benosteen/Pairtree#egg=Pairtree
-e hg+http://bitbucket.org/ww/ordf#egg=ordf
## install openbiblio
## Assume for the present we install from local checkout
# -e https://knowledgeforge.net/pdw/openbiblio
