<html xmlns:py="http://genshi.edgewall.org/" 
  xmlns:xi="http://www.w3.org/2001/XInclude"
  >

  <py:def function="page_title">Home</py:def> 

  <div py:match="content">
    <h2>Welcome to ${c.site_title}</h2>
    <p>
    ${c.site_title} is an <strong><a
        href="http://opendefinition.org/">open</a> catalogue of cultural
      works</strong>. There are currently <strong>${c.work_total} works</strong> in the database.</p> 

    <xi:include href="../search_form.html" />
  </div>

  <xi:include href="../base.html" />
</html>
