<html xmlns="http://www.w3.org/1999/xhtml" 
	    xmlns:py="http://genshi.edgewall.org/"
	    py:strip="" 
	    >
  <head>
   <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
   <title>Bibliographica</title>
   <link rel="stylesheet" type="text/css" href="http://knowledgeforge.net/media/css/master.css" />
 </head>
<body>
<style>
  #warnings {
	color: red;
	margin-left: 100px;
  }
</style>
<div id="top">
  <h1>
	  <a href="/">Bibliographica<sup style="font-size:0.4em;">Beta</sup></a>
  </h1>
  <div id="navlinks" >
  <navlinks>
  </navlinks>
  <ul id="navigation">
	  <li><a href="/">Home</a> </li>
	  <li><a href="/search">Search</a> </li>
	  <li><a href="/sparql">SPARQL</a> </li>
  </ul>
  </div>
</div>
<div id="content" style="clear: both; padding: 30px">
	<content>  
	<p>Master content template placeholder
	&hellip; please replace me.</p>   
	</content>  
</div>
<div id="footer">
  <p>
    <a href="http://validator.w3.org/check/referer" title="Valid XHTML 1.1">XHTML</a>
    | <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a>
    | <a href="/">Project Home Page</a>

    | <a href="http://www.okfn.org/contact/">Contact Us</a>
    | <a href="http://www.okfn.org/privacy-policy/">Privacy Policy</a>
  </p>
  <p>
    <img style="margin-bottom: -5px;" src="http://m.okfn.org/images/logo/okf_logo_white_and_green_tiny.png" alt="Open Knowledge Foundation" /> An <a href="http://www.okfn.org/">Open Knowledge Foundation</a> Project
  </p>

  <p>
    v0.11a
    | (c) Open Knowledge Foundation
    | All material available under an <a href="/license">open license</a>
    | <a href="http://www.opendefinition.org/1.0/"><img style="border: none; margin-bottom: -4px;" src="http://m.okfn.org/images/ok_buttons/ok_90x15_blue.png" alt="This Content and Data is Open" /></a>
  </p>
</div><!-- /footer -->
</body>
</html>
