<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/" 
  xmlns:xi="http://www.w3.org/2001/XInclude"
  >

<head>
  <title>${c.site_title} - ${page_title()}</title>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!--
  <link rel="shortcut icon" href="http://m.okfn.org/gfx/logo/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="http://m.okfn.org/kforge/css/master.css" type="text/css" media="screen, print" title="Master stylesheet" charset="utf-8" />
  <link rel="stylesheet" href="http://m.okfn.org/kforge/css/pagination.css" type="text/css" media="screen, print" title="Master stylesheet" charset="utf-8" />
  -->
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="/css/master.css" type="text/css" media="screen, print" title="Master stylesheet" charset="utf-8" />
  <link rel="stylesheet" href="/css/pagination.css" type="text/css" media="screen, print" title="Master stylesheet" charset="utf-8" />

  <link rel="stylesheet" href="/css/extra.css" type="text/css" media="screen, print" title="Master stylesheet" charset="utf-8" />

<!--
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
  <script type="text/javascript" src="http://m.okfn.org/kforge/scripts/kforge.js"></script>
 -->
  <script src="/js/jquery-1.4.2.min.js"></script>
  <script type="text/javascript" src="/js/kforge.js"></script>

  <py:if test="defined('optional_head')">
    ${optional_head()}
  </py:if>
</head>

<body>
<div id="airlock">
  <!--[if IE]>
    <hr class="holder" />
  <![endif]-->
  <div id="top">
    <div id="top-inner">
      <div id="top-bar">
        <!--<topbar>-->
        <py:choose>
        <py:when test="c.user">
        <p>
          Logged in as <strong>${c.user}</strong> |
          <a href="${url(controller='account', action='index')}">My Account</a>
          | <a href="${url('/logout_openid')}">Logout</a>
        </p>
        </py:when>
        <py:otherwise>
          <p>
					<a href="${url(controller='account',action='login', id=None)}">Login with <img width="16" height="16" alt="None" src="http://m.okfn.org/images/icons/openid.png"/> OpenID</a>
          </p>
        </py:otherwise>
        </py:choose>
        <!--</topbar>-->
      </div><!-- /top-bar -->
      <div id="logo">
        <a href="http://idea.ed.ac.uk/">
            <img src="/idealab.png"
                 alt="IDEALab Edinburgh Logo"
                 border="0px" style="float: right;" />
        </a>
        <a href="http://okfn.org/">
            <img src="/okflogo.png"
                 alt="Open Knowledge Foundation Logo"
                 width="50px" height="55px"
                 border="0px" style="float: right;" />
        </a>
        <h1>
          <a href="${url('home')}" title="${c.site_title} Home">${c.site_title}</a><sup>v${c.__version__}</sup>
        </h1>
      </div>
    </div><!-- /top-inner -->
     
  <div id="navbar">
    <h3 class="hidden">Sections:</h3>
    <ul id="navigation">
      <li><a href="${url('home')}">Home</a></li>
      <!-- <li><a href="${url('import')}">Import</a></li> -->
      <li><a href="${url('search')}">Search</a></li>
      <!-- <li><a href="${url('sparql')}">SPARQL</a></li> -->
      <li><a href="${url('add')}">Add</a></li>
      <!-- <li><a href="${url('isbn')}">ISBN search</a></li> -->
      <li><a href="${url('changesets')}">Changesets</a></li>
      <py:if test="c.deliverance_enabled">
      <li><a href="http://blog.bibliographica.org/">Blog</a></li>
      <li><a href="${url('about')}">About</a></li>
      <li><a href="${url('get-involved')}">Get Involved</a></li>
      </py:if>
      <navlinks>
      </navlinks>
    </ul>
    <h3 class="hidden">In this section:</h3>
    <ul id="subnav">
      <subnav>
      </subnav>
    </ul>
  </div>
  </div><!-- /top -->
  
  <div id="main">
    <div id="content">
    <content>
    </content>
    </div>

    <div id="footer">
      <p>
        <a href="http://validator.w3.org/check/referer" title="Valid XHTML 1.1">XHTML</a>
        | <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a>
        | <a href="http://www.okfn.org/">Project Home Page</a>
        | <a href="http://www.okfn.org/contact/">Contact Us</a>
        | <a href="http://www.okfn.org/privacy-policy/">Privacy Policy</a>
      </p>
      <p>
        <img style="height: 18px; margin-bottom: -4px;" src="http://m.okfn.org/gfx/logo/okf_logo_white_and_green.png" /> An <a href="http://www.okfn.org/">Open Knowledge Foundation</a> Project
      </p>
      <p>
        (c) Open Knowledge Foundation
        | Most material available under an <a rel="license" href="http://www.opendefinition.org/">open license</a>
        | <a href="http://www.opendefinition.org/1.0/"><img
            style="border: none; margin-bottom: -4px;"
            src="http://m.okfn.org/images/ok_buttons/ok_90x15_blue.png"
            alt="This Content and Data is Open" /></a>
      </p>
    </div><!-- /footer -->

    <!--[if IE]>
    <hr class="main" />
    <![endif]-->
    
  </div>
    
  <div id="primary" class="sidebar">
    <py:if test="defined('primary_sidebar_extras')">
      ${primary_sidebar_extras()}
    </py:if>
    
    <!-- OKFN-specific content, elided
    <div class="box">
      <h3>Get in Touch</h3>
      <p>Have a question, found a bug or just want to chat?
        Please <a
        href="http://www.okfn.org/contact/">get in
        touch</a>.
      </p>
    </div>
    -->
  </div><!-- /primary -->

</div><!-- /airlock -->
</body>
</html>
