<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip=""
  >
      <tr py:def="search_row(item)">
	<td>
	  ${h.XML(h.link_to(item.name or item.title or "Unknown",
	                    h.url(item.uri.encode("ascii"))))}
          <py:if test="item.series">
	    <br /><span class="series_title">${item.series}</span>
	  </py:if>
	  <py:if test="item.description">
	    <br /><span class="description">${item.description}</span>
	  </py:if>
	</td>
      </tr>
</html>
