<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip=""
  >
      <tr py:def="search_row(item)">
	<td>
	  ${h.XML(h.link_to(item.label.decode("utf-8"), h.url(item.uri.encode("ascii"))))}
	  <py:if test="item.name">
            <br /><span class="author_name">by ${item.name.decode("utf-8")}</span>
          </py:if>
          <py:if test="item.series">
	    <br /><span class="series_title">${item.series.decode("utf-8")}</span>
	  </py:if>
	  <py:if test="item.description">
	    <br /><span class="description">${item.description.decode("utf-8")}</span>
	  </py:if>
	</td>
      </tr>
</html>
