<html xmlns:py="http://genshi.edgewall.org/" 
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip=""
  >

  <py:def function="page_title">Bibliographica - ${c.model.title[0]} - http://bnb.bibliographica.org/modelview/${c.model.bnb_id[0]}</py:def> 

  <py:def function="optional_head">
    <link type="text/css" href="/css/overcast/jquery-ui-1.8.1.custom.css" rel="stylesheet" />	
    <link type="text/css" href="/css/book.css" rel="stylesheet" />	
    <script type="text/javascript" src="/js/jquery-ui-1.8.1.custom.min.js"></script>
  </py:def>

  <div py:match="content">
    <div id="book">
      <h1>Title: ${c.model.title[0]}</h1>
      <h2>Authors:</h2>
      <ul>
        <li py:for="auth in c.model.creators">
            ${auth.name[0]}
            <py:with vars="birth=auth.birth; death=auth.death">
              <py:if test="birth">${birth.date[0]} -
                <py:if test="death">${death.date[0]}</py:if>
              </py:if>
              <py:if test="death and not birth">Died: ${death.date[0]}</py:if>
            </py:with>
        </li>
      </ul>
      <h3 py:if="c.model.issued[0]">Issued: ${c.model.issued[0]}</h3>
      <div class="description">
        <div py:for="desc in c.model.descriptions">
          ${desc}
        </div>
      </div>
      <div class="extent" py:if="c.model.extent">
        Extent: <span class="extent_value">${c.model.extent.next().value}</span>
      </div>
      <div class="language" py:if="c.model.language">
        Language: <span class="language_value">${c.model.language.next().value}</span>
      </div>
      <h2>Subjects:</h2>
      <ul>
        <li py:for="subj in c.model.subjects">
            <!-- simple keyword subject? -->
            <py:if test="subj.label">
                <span class="subject_kw">${subj.label[0]}</span>
            </py:if>
            <!-- Dewey? -->
            <py:if test="subj.inscheme and subj.inscheme[0].startswith('http://dewey')">
            <span class="ddc">Dewey (DDC): ${subj.notation[0]} <span class="ddc_scheme"><a href="${subj.inscheme[0]}">${subj.inscheme[0]}</a></span></span>
            </py:if>
            <py:if test="subj.inscheme and subj.inscheme[0].startswith('http://id.loc.gov')">
            <span class="lcsh">LCSH: ${subj.preflabel[0]} <span class="lcsh_scheme"><a href="${subj.inscheme[0]}">${subj.inscheme[0]}</a></span></span>
            </py:if>
        </li>
      </ul>
      <h3> See Also:</h3>
      <ul>
        <li py:for="link in c.model.seealso">
            <a href="${link}">${link}</a>
        </li>
      </ul>
    </div>
  </div>

  <xi:include href="base.html" />
</html>


